<%- include('../partials/admin/adminHeader') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
            color: #343a40;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        th,
        td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }
        th {
            background-color: #343a40;
            color: #fff;
        }
        tbody tr:hover {
            background-color: #f5f5f5;
        }
        .add-category-label {
            display: flex;
            align-items: center;
            margin-right: 10px;
            color: #007bff;
        }
        .category-input {
            margin-right: 10px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        .btn {
            border-radius: 4px;
        }
        .btn-success {
            color: #fff;
            background-color: #28a745;
            border: none;
            cursor: pointer;
        }
        .btn-success:hover {
            background-color: #218838;
        }
        .form-inline {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        .container {
            margin-top: 20px;
        }
        .error-message {
            color: #ff0000;
            margin-top: 0.5em;
        }
    </style>
</head>
<body><br><br><br><br><br><br>
    <h1>Category Management</h1>

        <section style="background-color: #eee;">
            <div class="container py-5">

            <div class="d-flex justify-content-center">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Cancel</th>
                            <th>Offer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (category.length > 0 ) { %>
                            <% category.forEach(cat => { %>
                                <tr>
                                    <% if (cat.isDeleted === false) { %>
                                        <td><%= cat.categoryName %></td>
                                        <td>
                                            <% if (cat.active === true) { %>
                                                <a href="#" class="category-action-link" data-action="deactivate" data-category-id="<%= cat._id %>">deactivate</a>
                                            <% } else { %>
                                                <a href="#" class="category-action-link" data-action="activate" data-category-id="<%= cat._id %>">activate</a>
                                            <% } %>
                                        </td>
                                        <td><a href="/admin/edit-category/<%= cat._id %>">edit</a></td>
                                        <td><a href="#" class="category-delete-link" data-action="delete" data-category-id="<%= cat._id %>">delete</a></td>
                                    <% } %>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="4">Category not found</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            </div>
        </section>
        <form action="/admin/add-category" method="post" class="form-inline" id="addCategoryForm">
            <div class="form-group">
                <label for="category" class="add-category-label">
                    <i class="fas fa-plus-circle"></i> Add category:
                </label>
                <input type="text" class="form-control category-input" name="category" id="category" required>
                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Add category</button>
            </div>
        </form>
        <form action="/admin/add-category-offer" method="post" class="form-inline" id="addCategoryForm">
            <div class="form-group">
                <label for="category" class="add-category-label">
                    <i class="fas fa-plus-circle"></i> Add category Offer:
                </label>
                <select name="category" id="">
                <% category.forEach(element => { %>
                 <option value="<%= element._id %>"> <%= element.categoryName %></option>
                <% }) %>
                </select>
                <select name="offer" id="">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Add category offer</button>
            </div>
        </form>
        <label id="requiredCategory" class="text-danger"></label>
        <% if(typeof message !==undefined){ %>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <p class="text-danger"><%= message %></p>
        <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Add event listener to all category action links
            document.querySelectorAll('.category-action-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
    
                    // Get the action (activate/deactivate) and category ID from data attributes
                    var action = this.getAttribute('data-action');
                    var categoryId = this.getAttribute('data-category-id');
    
                    // Show SweetAlert confirmation dialog
                        Swal.fire({
                        title: 'Are you sure?',
                        text: 'This action cannot be undone!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, proceed!'
                    }).then((result) => {
                        // If the user clicks 'Yes', perform the action
                        if (result.isConfirmed) {
                            window.location.href = '/admin/' + action + '-category/' + categoryId;
                        }
                    });
            });
            });
    
            document.querySelectorAll('.category-delete-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
    
                    // Get the action (activate/deactivate) and category ID from data attributes
                    var action = this.getAttribute('data-action');
                    var categoryId = this.getAttribute('data-category-id');
    
                    // Show SweetAlert confirmation dialog
                        Swal.fire({
                        title: 'Are you sure?',
                        text: 'This action cannot be undone!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, proceed!'
                    }).then((result) => {
                        // If the user clicks 'Yes', perform the action
                        if (result.isConfirmed) {
                            window.location.href = '/admin/' + action + '-category/' + categoryId;
                        }
                    });
            });
            });
    

            // SweetAlert for category add
            var addCategoryForm = document.querySelector('.form-inline');
            if (addCategoryForm) {
                addCategoryForm.addEventListener('submit', function (event) {
                    event.preventDefault();

                    Swal.fire({
                        title: 'Add Category',
                        text: 'Are you sure you want to add this category?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Check if the category input is not empty
                            const categoryReq = document.getElementById("category")
                            const cat = categoryReq.value.trim();
                            if (cat === "") {
                                Swal.fire('Error!', 'Category name cannot be blank.', 'error');
                            } else {
                                addCategoryForm.submit(); // Submit the form
                                // Swal.fire('Success!', 'Category added successfully.', 'success');
                            }
                        }
                    });
              });
            }
        });
    </script>
   

  
    
      
</body>

</html>